<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DbContext" connectionString="data source=192.100.50.14;initial catalog=CC_Data_WMS_LIVE;user id=sa;password=BMG,12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ManagerEmail" value="mateusz.stacel@bmgresearch.co.uk, Ahmed.Ali@bmgresearch.co.uk, Mokbul.Miah@bmgresearch.co.uk"/>
  </appSettings>
</configuration>